body {
 background-color: #c0c5ce; 
}
  
#header {
  background-color: white;
}

#pusheen {
 background-color: white;
}
 
#navigation {
  width: 250px;
  float: left;
  background-color: white;
}

#text {
  width: 1200px;
  float: right;
  background-color: white;
}
